@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #0476DF;
}

body{
    background: white;
    margin: 0;
    font-family: "Noto Sans";
}

.navbar{
    background: white;
    padding: 0.5em 1em;

    .brand_logo{
        width: 50%;
        margin: 0.5em;
    }

    nav{
        display: none;
    }
    .container{
        display: flex;
        place-content: space-between;
    }

    .menu_button_class{
        cursor: pointer;
    }
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 2em 2em;
}

.hero{
    text-align: center;

    .left_col{
        h1{
            font-size: 2.5em;
            line-height: 1.3em;
            margin-top: .2em;
            color: #252525;
        }

        .subhead{
            color: #4F4F4F;
            padding: 0em .4em;
        }

        .hero_cta{
            display: flex;
            align-items: center;
        }

        .get_started_cta{
            background: var(--primary-color);
            color: white;
            text-decoration: none;
            padding: .6em 1em;
            font-size: 1em;
            border-radius: 5em;
            margin-left: 4em;
        }

        .watch_video_cta{
            width: 58%;
            margin-top: .1em;
        }
    }

    .right_col{
        display: none;
    }
}

.order_section{
    padding-top: 2em;
    text-align: center;
    
    .container{
        position: relative;
    }
    .order_rectangle{
        background: #FF8819;
        border-radius: 3em;
        height: 90vh;

        .right_side{
            display: none;
        }
    
        .curve_1{
            position: absolute;
            padding: 2em;
            height: 90%;
            left: 0px;
        }
    
        .curve_2{
            position: absolute;
            padding: 2em;
            height: 70%;
            top: 80px;
            transform: rotate(-10deg);
        }
    
        h1{
            font-size: 2.5em;
            color: white;
            position: relative;
            top: 150px;
            z-index: 4;
        }
    
        p{
            font-size: 0.8em;
            padding: 0em 2em;
            color: white;
            position: absolute;
            top: 270px;
            left: 1em;
            margin-right: 15em;
        }

        a{
            background: white;
            text-decoration: none;
            color: #333333;
            padding: .8em 1em;
            text-align: center;
            border-radius: 1.3em;
            place-content: space-between;
            font-size: 1em;
            margin: 2em;
            position: relative;
            top: 270px;
            right: 20px;
            margin-right: 12em;
        }

        .gift_box{
            width: 5%;
            margin-right: .5em;
        }

        .bag_icon{
            position: absolute;
            background: white;
            padding: .5em;
            border-radius: 50%;
            margin-top: 1em;
            width: 35px;
            top: 50px;
            left: 90px;
        }
    }

    .happy_girl{
        position: absolute;
        width: 55%;
        right: -.7px;
        bottom: .5px;
        border-radius: 20%;
        z-index: 2;
    }
}

.below_order{
    h1{
        margin: 0em 2em;
        text-align: center;
        font-size: 2,5em;
        color: #252525;
    }

    p{
        margin: 1em 2em;
        text-align: center;
        color: #333333;
    }
}

.onboarding{
    .container{
         background: #F7FEFC;
         border-radius: 4em;
         border: 1px solid #EBEBEB;
         box-shadow: 10px 10px 100px 0px #E7E7E73D;
         box-shadow: -10px -10px 100px 0px #E7E7E73D;
    }

    h1{
        margin: 2em 2em 1em 2em;
        text-align: center;
        font-size: 2em;
        color: #252525;
        font-weight: 600;
    }

    .onboard_text{
        h1{
            margin: 1em 1em 0.2em 1em;
            font-size: 3em;
        }
        p{
            margin: 0em 2.9em;
            text-align: center;
            color: #333333;
        }
    }

    .onboard_img{
        width: 100%;
    }
}

.deliverables{
    .left_col{
        background: #F9F9F9;
        border: 1px solid #EEEEEE;
        border-radius: 4em;
        padding: 2em;
        height: 85vh;

        h1{
            font-size: 34px;
            color: #252525;
        }

        p{
            font-size: 1em;
            color: #4F4F4F;
            font-family: "Noto Sans";
        }

        a{
            background: var(--primary-color);
            padding: .8em 1.4em;
            border-radius: 2em;
            text-decoration: none;
            text-align: center;
            color: white;
            position: absolute;
            margin: 2em 0em;
        }
    }

    .right_col{
        display: none;
    }
}

ul.how_it_works{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    
    li{
        font-size: 1em;
        color: #4F4F4F;
        position: relative;
        left: 1.3em;
        
        &:before {
            content: '';
            left: -1.2em;
            top: .5em;
            position: absolute;
            width: 8px;
            height: 8px;
            background-image: url('../images/plus_bullet.svg');
            background-size: contain;
            margin-right: 0;
        }
    }
}


section.metric{

    ul.metric_1{
        li{
            background: #F9F9F9;
            text-align: center;
            margin: 0 auto 0 auto;
            border-radius: 1em;
            width: 80%;

            h1{
                color: #252525;
                font-size: 50px;
                text-align: center;
                padding-top: 20px;
            }
    
            p{
                text-align: center;
                margin-bottom: 10px;
                z-index: -1;
                padding-bottom: 1em;
            }

            span{
                font-size: 20px;
            }
        }
        
    }
}

section.plans{
    margin: 1em;
    .container{
        background: #F7FEFC;
        margin: 0;
        height: 205vh;
        
        .plans_title{
            font-size: 2.5em;
            top: 20px;
            text-align: center;
            position: relative;
        }
        .choice{
            margin: 0;
            text-align: center;
            color: #4F4F4F;
        }
        .bill{
            margin-top: 30px;
            text-align: center;
            font-size: 10px;

            .discount{
                color: var(--primary-color);
                background: #0476DF1A;
                padding: .3em;
                border-radius: .5em;
            }
        }
        .background{
            display: none;
        }

        ul.plan_list{
            li.plan_list1, li.plan_list3{
                background: white;
                margin: 0.2em 2em;
                border-radius: 3em;
                text-align: center;
                height: 50vh;

                h1{
                    position: relative;
                    top: 15px;
                }

                p{
                    font-size: 13px;
                }

                span{
                    color: #4F4F4F;
                    font-size: 15px;
                }

                ul.basic_list{
                    margin: 2em;
                    position: relative;

                    li{
                        position: relative;
                        text-align: left;
                        left: 4em;
                        font-size: .9em;

                        &:before{
                            content: '';
                            left: -1em;
                            top: .4em;
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            background-image: url('../images/blue_tick.svg');
                            background-size: contain;
                            margin-right: .5em;
                        }
                    }
                }

                .subcribe_cta{
                    background: #82B0DB36;
                    padding: .7em 1.5em;
                    border-radius: 3em;
                    cursor: pointer;
                }
            }

            li.plan_list3{
                height: 55vh;
            }

            li.plan_list2{
                background: var(--primary-color);
                color: white;
                margin: 0.1em 1.7em;
                border-radius: 3em;
                text-align: center;
                height: 60vh;

                h1{
                    position: relative;
                    top: 15px;
                }

                p{
                    font-size: 13px;
                }

                span{
                    color: #E2E2E2;
                    font-size: 15px;
                }

                ul.essential_list{
                    margin: 2em;
                    position: relative;

                    li{
                        position: relative;
                        text-align: left;
                        left: 4em;
                        font-size: 1em;

                        &:before{
                            content: '';
                            left: -1em;
                            top: .4em;
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            background-image: url('../images/white_tick.svg');
                            background-size: contain;
                            margin-right: .5em;
                        }
                    }
                }

                .subcribe_cta2{
                    background: white;
                    color: var(--primary-color);
                    padding: 1em 2em;
                    border-radius: 3em;
                    cursor: pointer;
                }
            }
        }
        
    }
}

section.contact{
    .container{
        margin: 0.5em;
        background-color: #F9F9F9;
        border-radius: 3em;
        height: 55vh;

        h1{
            text-align: center;
            margin: 1em;
            position: relative;
            top: 15px;
            font-size: 30px;
        }

        p{
            text-align: center;
            color: #4F4F4F;
            padding: 0 2em 2em 2em;
            margin: 0;
        }

        .input_container{
            width: 700px;
            height: 10vh;
            position: relative;
            padding: .8em;

            .input_email{
                width: 50%;
                height: 70%;
                margin-bottom: 1em;
                margin-left: .8em;
                border-radius: 1em;
                box-sizing: border-box;
            }

            .input_button{
                background: var(--primary-color);
                color: white;
                display: inline-flex;
                position: absolute;
                left: 39%;
                margin: 0.3em, 0, 1em, 0;
                width: 10%;
                height: 35%;
                top: 20px;
                border: #0476DF;
                border-radius: 1em;
                cursor: pointer;
            }
        }
    }

    .contact_right_col{
        display: none;
    }
}

section.link_section{
    .left{
        color: #4F4F4F;
        font-size: 1em;
    }

    img.logo{
        width: 40%;
    }

    .quick_links{

        .quick_linksbtn{
            
            display: flex;
            place-content: space-between;
            cursor: pointer;
        }

        a{
            text-decoration: none;
        }
    }
}

.Q_links, .Q_links2, .Q_links3 {
    display: none;
}

.footer  .container{
    .footer_img{
        margin-left: 6em;
        img{
            width: 12%;
            margin-left: .5em;
        }
    }

    p{
        font-size: .8em;
        margin-left: 4em;
    }
}

nav.menu_btn{
    display: block;
}

nav{
    position:fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #252525;
    height: 100vh;
    padding: 1em;

    ul.primary_nav{
        margin-top: 5em;
    }


    li{
        a{
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover{
                font-weight: bold;
                color: #0476DF;
            }
        }
    }
}

.menu_exit_class{
    float: right;
    margin: .5em;
    cursor: pointer;
}

section.link_section .quickdisplay {
    display: block;
}

.quick_links{

    .Q_links, .Q_links2, .Q_links3 {

        li{
            a{
                text-decoration: none;
                color: #252525;
                z-index: 100000;

                &:hover{
                    font-weight: bold;
                }
            }
        }
    }

}

.quickdisplay{
    display: block;
}

@media only screen and (min-width: 900px){
    .menu_button_class, .menu_exit_class{
        display: none;
    }

    .container{
        width: 96%;
        margin: 0 2.5em;
    }

    section{
        padding: 2em;
    }

    .navbar .container{
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;

        .brand_logo{
            width: 100%;
            margin: 2em 0;
            padding-left: 1em;
        }
    }

    .navbar nav{
        display: flex;
        justify-content: space-between;
        background: none;
        margin: 2em;
        padding-right: 0;
        height: auto;
        position: unset;

        ul{
            display: flex;
        }

        a {
            color: black;
            font-size: 1em;
            font-weight: 5em;
            padding: 0 1.5em;
        }

        ul.primary_nav{
            margin: 0 0 0 8em;
        }
        ul.secondary_nav{
            margin: 0 0 0 10em;
        }
        li.current a{
            font-weight: bold;
            font-family: "Noto Sans";
        }

        li.login a{
            color: var(--primary-color);
            width: 100%;
        }
        li.signup_button a{
            color: white;
            background: var(--primary-color);
            padding: .5em 2em;
            border-radius: 5em;
            margin-top: -.5em;
            margin-left: 2em;
        }
    }

    .hero .container{
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    section.hero{
        margin-bottom: 5em;
        height: 89vh;
        padding-top: 5em;
        overflow: hidden;
        
    }
    section.hero .left_col{
        margin: 0;
        padding: 0;
        width: 50%;

        h1{
            margin-top: 4em;
            width: 598px;
            font-weight: .8em;
            font-size: 2.3em;
        }

        .subhead{
            width: 450px;
            font-size: .9em;
        }

        .hero_cta{
            justify-content: space-between;
        }

        .get_started_cta{
            margin-left: 0;
        }
        .watch_video{
            margin-right: 13em;
        }
    }
    .hero .right_col{
        display: flex;
        position: relative;
        margin: 0 1.2em;
        width: 50%;

        .rectangle_1, .rectangle_2{
            background: #0476DF;
            width: 20em;
            height: 20em;
            margin: 2em 13em;
            border-radius: 4em;
            transform: rotate(45deg);
            display: flex;
            position: absolute;

            
        }

        .rectangle_2{
            position: absolute;
            margin: 2em 0em;
        }

        .ellipse_1, .ellipse_2, .ellipse_3, .ellipse_4{
            width: 170px;
            height: 80px;
            margin: .5em;
            border: 1px solid white;
            border-radius: 50%;
            background-color: transparent;
            display: block;
            position: absolute;
            transform: rotate(-25deg);
            left: -13px;
            top: 4px;
        }

        .ellipse_2{
            width: 190px;
            left: 40px;
            top: 30px;
        }
        .ellipse_3{
            width: 210px;
            left: 110px;
            top: 90px;
        }
        .ellipse_4{
            width: 140px;
            height: 90px;
            left: 140px;
            top: 5px;
        }
        .hero_curve1, .hero_curve2 {
            transform: rotate(320deg);
            position: relative;
            top: 112px;
            left: 100px;
        }

        .shopping_bag, .shopping_cart{
            position: absolute;
            width: 160%;
            transform: rotate(-40deg);
            top: -270px;
            left: 10px;
        }
        .shopping_cart{
            width: 130%;
            left: -120px;
            top: -14px;
        }
        .phone_notification {
            width: 140%;
            height: 140%;
            position: absolute;
            top: 2.3em;
            left: -3.5em;
        }
    }

    section.order_section{
        margin: 0;
        padding-top: 0;

        .container{
            margin: 0;
            width: 100%;
        }

        .order_rectangle{
            display: flex;
            margin: 2.5em;
            height: 70vh;
            text-align: left;
            position: relative;

            .curve_1{
                left: 8px;
                top: 0;
            }
            .bag_icon{
                left: 80px;
                padding: .7em;
            }

            h1{
                margin-left: 74px;
                width: 9em;
                font-size: 2em;
            }
            p{
                left: 47px;
                width: 20em;
                top: 20em;
            }
            .curve_2{
                top: 0.7em;
                left: 7.2em;
                width: 27em;
                height: 22em;
            }
            a {
                position: absolute;
                padding: 0;
                margin: 0;
                width: 10em;
                height: 3em;
                top: 21em;
                left: 4.7em;
                font-weight: bold;
                align-content: center;
                
                .gift_box{
                    width: 1.5em;
                    position: absolute;
                    left: .5em;
                    top: .5em;
                }
            }

            .right_side{
                display: flex;

                .curve_3{
                    width: 42em;
                    height: 42em;
                    position: absolute;
                    right: -1em;
                    top: -7em;
                }
                .rectangle_3{
                    background: white;
                    position: absolute;
                    width: 23em;
                    height: 25em;
                    top: 2em;
                    right: 9em;
                    border-radius: 3em;
                }
                .order_img{
                    width: 39.6em;
                    height: 39.6em;
                    position: absolute;
                    right: -4.5em;
                    top: -7em;
                }
            }
        }
    }

    .happy_girl{
        display: flex;
        width: 29em;
        height: 29em;
        left: 9em;
    }
    
    .below_order{
        h1{
            font-size: 3em;
        }
        p{
            font-size: 1.3em;
            color: #4F4F4F;
        }
    }
    
    
    .onboarding{
        .container{
            height: 77vh;
            position: relative;
            .onboard_text{
                display: flex;
                margin-top: 0;
                padding-top: 0;
            }
            .left_col{
                width: 40%;
                margin-top: 5em;

                h1{
                    margin-left: .5em;
                }

                p{
                    font-size: 1.1em;
                    width: 100%;
                    margin-left: 1.5em;
                    color: #4F4F4F;
                }
            }
            .right_col{
                width: 57%;
                margin-top: -2em;
                margin-left: 2em;

                .onboard_img{
                    padding: 0;
                    margin-top: -0.5em;
                }
            }
        }
    }

    .deliverables .container{
        display: flex;
        justify-content: space-between;

        .left_col{
            width: 46%;
            border-radius: 1.5em;

            h1{
                font-size: 2.55em;
                width: 82%;
                margin-top: .4em;
            }
        }

        .right_col{
            display: block;
            width: 46%;
            height: 95vh;
            background: #0476DF;
            border-radius: 1.5em;
            position: relative;

            .ellipse_4, .ellipse_5, .ellipse_6{
                background: transparent;
                position: absolute;
                border: 1px solid white;
                border-radius: 50%;
                width: 30em;
                height: 30em;
                left: 3em;
                top: -4em;
            }

            .ellipse_5{
                top: 15em;
                left: 5.6em;
            }
            .ellipse_6{
                top: 11.3em;
                left: -3em;
            }

            .rating_1, .rating_2{
                width: 100%;
                position: relative;
                z-index: 8;
            }
            .rating_1BG, .rating_1BG_2{
                background: white;
                width: 10.6em;
                height: 2.5em;
                border-radius: 1.5em;
                position: absolute;
                top: 6.25em;
                left: 4.3em;
                opacity: 1;
                filter: blur(8px);
                z-index: 6;
            }
            .rating_1BG_2{
                background: var(--primary-color);
                width: 29.6em;
                height: 5em;
                opacity: 0.5;
                top: 3.75em;
                left: 2.3em;
                z-index: 7;
            }

            .rating_2{
                top: -11.7em;
                z-index: 5;
            }

            .phone_img{
                width: 63%;
                height: 100%;
                position: relative;
                top: -27em;
                left: 6.5em;
                z-index: 4;
            }
        }
    }

    section.metric{
        padding-top: 0;
        padding-bottom: 0;

        .container{
            margin-top: 0;
        }

        .metric_1{
            display:flex ;
            width: 100%;
            gap: 2em;
        }
    }

    section.plans{
        margin: 0;
        padding: 0;
        .container{
            background: #F7FEFC;
            margin: 0;
            width: 100%;
            height: 117%;
            position: relative;
            overflow: hidden;
            z-index: -3;
            
            .plans_title{
                font-size: 2.5em;
                text-align: center;
            }
            .choice{
                margin: 0;
                text-align: center;
                color: #4F4F4F;
            }
            .bill{
                margin-top: 30px;
                text-align: center;
                font-size: 10px;
    
                .discount{
                    color: var(--primary-color);
                    background: #0476DF1A;
                    padding: .3em;
                    border-radius: .5em;
                }
            }
            .background{
                display: flex;
                position: absolute;
                bottom: 0;
                z-index: -2;

                img{
                    width: 100%;
                    margin: 0;
                    padding: 0;

                    .bg_1{
                        display: none;
                        position: absolute;
                        top: 100em;
                        margin: 0;
                    }
                    .bg_2{
                        display: none;
                        position: absolute;
                        margin: 0;
                    }
                }
            }
    
            ul.plan_list{
                display: flex;
                justify-content: center;
                z-index: 10;
                li.plan_list1, li.plan_list3{
                    margin: 1.5em 2em;
                    border-radius: 2em;
                    text-align: center;
                    height: 50vh;
                    width: 200px;
    
                    h1{
                        position: relative;
                        top: 15px;
                        font-size: 20px;
                    }
    
                    p{
                        font-size: 10px;
                    }
    
                    span{
                        color: #4F4F4F;
                        font-size: 15px;
                    }
    
                    ul.basic_list{
                        margin: 2em;
                        position: relative;
                        margin-bottom: 1.3em;
    
                        li{
                            position: relative;
                            text-align: left;
                            left: 4em;
                            font-size: 13px;
                            font-weight: 1em;
                            color: #4F4F4F;
                            margin-top: .5em;
                            margin-left: -2em;
    
                            &:before{
                                content: '';
                                left: -1em;
                                top: .4em;
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                background-image: url('../images/blue_tick.svg');
                                background-size: contain;
                                margin-right: .5em;
                            }
                        }
                    }
    
                    .subcribe_cta{
                        background: #82B0DB36;
                        padding: .5em 1.5em;
                        border-radius: 3em;
                        cursor: pointer;
                    }
                }
    
                li.plan_list3{
                    width: 230px;
                }
    
                li.plan_list2{
                    background: var(--primary-color);
                    color: white;
                    margin: .5em 1.7em;
                    border-radius: 1.5em;
                    text-align: center;
                    height: 350px;
                    width: 250px;
    
                    h1{
                        position: relative;
                        top: 10px;
                    }
    
                    p{
                        font-size: 13px;
                    }
    
                    span{
                        color: #E2E2E2;
                        font-size: 13px;
                        margin-top: 0;
                    }

                    .bill_1{
                        margin-top: -.5em;
                    }
    
                    ul.essential_list{
                        margin: 2em;
                        position: relative;
    
                        li{
                            position: relative;
                            text-align: left;
                            left: 4em;
                            font-size: 14px;
                            margin-left: -2.5em;
                            margin-top: .5em;
    
                            &:before{
                                content: '';
                                left: -1em;
                                top: .4em;
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                background-image: url('../images/white_tick.svg');
                                background-size: contain;
                                margin-right: .5em;
                            }
                        }
                    }
    
                    .subcribe_cta2{
                        background: white;
                        color: var(--primary-color);
                        padding: .7em 2em;
                        border-radius: 3em;
                        cursor: pointer;
                    }
                }
            }
            
        }
    }

    section.contact{
        .container{
            display: flex;
            text-align: left;
            height: 270px;
            margin-left: 2em;

            .contact_right_col{
                display: block;
                justify-content: center;
                width: 50%;

                img{
                    width: 70%;
                    margin: 4em;
                }
            }

            .contact_left_col{
                width: 50%;
            }
    
            h1{
                text-align: left;
            }
    
            p{
                text-align: left;
            }
    
            .input_container{
                padding: .8em;
                margin-top: -1.7em;
                padding-bottom: 0em;
    
                .input_button{
                    top: 22px;
                }
            }
        }
    }

    section.link_section{
        display: flex;

        .left{
            color: #4F4F4F;
            font-size: 1em;
        }
    
        img.logo{
            width: 150px;
        }
    }
    
    .footer  .container{
        display: flex;
        justify-content: space-between;
        padding-right: 3em;
        background: #EDF6FFB2;
        width: 92%;
        margin: 2em
        ;

        .footer_img{
            img{
                width: 50px;
                margin-left: .5em;
            }
        }
    
        p{
            font-size: .8em;
            margin-left: 4em;
            margin-top: 1.5em;
        }
    }
}



