<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop with QwikCountr. Shop with a Smile</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class="navbar">
        <div class="container">
            <a href="#"><img id="brand_logo" class="brand_logo" src="../images/qwikcountr 1.svg" alt="Brand Logo"></a>

            <img id="menu_button" class="menu_button_class" src="../images/menu.svg" alt="Open Navigation">

            <nav>
                <img id="menu_exit" class="menu_exit_class" src="../images/exit.svg" alt="Close Menu">

                <ul class="primary_nav">
                    <li class="current"><a href="#">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Blog</a></li>
                    </ul>

                <ul class="secondary_nav">
                    <li class="login"><a href="#">Log in</a></li>
                    <li class="signup_button"><a href="#">Signup</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="hero">
        <div class="container">
            <div class="left_col">
                <h1>A solution to grow your business & manage inventory.</h1>
                <p class="subhead">One app that creates a seamless connection between a customer and a business owner.</p>

                <div class="hero_cta">
                    <a href="#" class="get_started_cta">Get Started</a>
                    <a href="#" class="watch_video" >
                        <img class="watch_video_cta" src="../images/youtube_watch.svg" alt="Video">
                    </a>
                </div>
            </div>
            
            <div class="right_col">
                <div class="rectangle_1">
                    <div class="ellipse_1"></div>
                    <div class="ellipse_2"></div>
                    <div class="ellipse_3"></div>
                    <div class="ellipse_4"></div>

                    <img class="hero_curve1" src="../images/curve_line_1.svg" alt="line">
                </div>
                <div class="rectangle_2">
                    <img class="hero_curve2" src="../images/curve_line_1.svg" alt="line">
                    <img class="shopping_bag" src="../images/image 302.svg" alt="shopping bag">
                    <img class="shopping_cart" src="../images/image 301.svg" alt="shopping cart">
                </div>

                <img class="phone_notification" src="../images/Free Hand Holding iPhone 12 Mini.svg"alt="phone">
                
            </div>
        </div>
    </section>

    <section class="order_section">
        <div class="container">
            <div class="order_rectangle">
                <img class="curve_1" src="../images/Ellipse 1.svg" alt="curve_1">
                <img class="bag_icon" src="../images/shopping-bag-svgrepo-com 1.svg" alt="icon">
                <h1>Order everything from anywhere</h1>
                <p>With geo-location customers are able to make Qwik purchases from stores around them.</p>
                <img class="curve_2" src="../images/Ellipse 2.svg" alt="curve_2">
                <a href="#">
                    <img class='gift_box' src="../images/gift-box-svgrepo-com 1.svg" alt="gift">Redeem gift
                </a>
                <div class="right_side">
                    <img class="curve_3" src="../images/Ellipse 3.svg" alt="curve_3">
                    <div class="rectangle_3"></div>
                    <img class="order_img" src="../images/order.svg" alt="order">
                </div>
                <img class="happy_girl" src="../images/happy_girl.svg" alt="Happy lady">
            </div>
        </div>
    </section>

    <div class="below_order">
        <div class="container">
            <h1>Perfect Solution For Your Business<br>increase productivity in no time</h1>
            <p>you are able to have better inventory accuracy and avoid stock outs!</p>
        </div>
    </div>

    <section class="onboarding">
        <div class="container">
            <h1>Qwik Features</h1>
            <div class="onboard_text">
                <div class="left_col">
                    <h1>Easy Onboarding</h1>
                    <p>Quick setup just for you, start buying and selling in real time</p>
                </div>
                <div class="right_col">
                    <img class="onboard_img" src="../images/onboard.svg" alt="onbord_img">
                </div>   
            </div>
        </div>
    </section>

    <section class="deliverables">
        <div class="container">
            <div class="left_col">
                <h1>We strive to make our customers happy.</h1>
                <p>At QwikCountr we ensure customers get their moneys’ worth on every item they purchase via the app.</p>
                <p><br>Here’s how we do it:</p>
                <ul class="how_it_works">
                    <li>Ratings and Review system</li>
                    <li>24HRS Customer support</li>
                    <li>In-App Reporting system</li>
                    <li>Product expiry status tags</li>
                </ul>
                
                <div class="hiw_cta">
                    <a href="#" class="explore_cta">Explore more</a>
                </div>
            </div>

            <div class="right_col">
                <div class="ellipse_4"></div>
                <div class="ellipse_5"></div>
                <div class="ellipse_6"></div>
                <img class="rating_1" src="../images/rating_1.svg" alt="rating">
                <div class="rating_1BG"></div>
                <div class="rating_1BG_2"></div>
                <img class="rating_2" src="../images/rating_2.svg" alt="rating">
                <img class="phone_img" src="../images/iPhone 12 Mockup Front View.svg" alt="iphone">
            </div>
        </div>
    </section>

    <section class="metric">
        <div class="container">
            <ul class="metric_1">
                <li><h1>10<span>k</span></h1><p>Local businesses grown</p></li>
                <li><h1>+ 5<span>years</span></h1><p>Experience in e-Commerce</p></li>
                <li><h1>100<span>k</span></h1><p>Happy customers in Nigeria</p></li>
                <li><h1>90<span>%</span></h1><p>Satisfaction rate</p></li>
            </ul>
        </div>
    </section>

    <section class="plans">
        <div class="container">
            <div class="background">
                <img class="bg_1" src="../images/background_waves_1.svg" alt="background_img">
                <img class="bg_2" src="../images/background_waves_2.svg" alt="background_img">
            </div>
            <h1 class="plans_title">Our Plans</h1>
            <p class="choice">Flexible choices just for you</p>
            <p class="bill">Billed monthly Billed anually. <span class="discount">20% OFF</span></p>

            <div class="plan_flex">
                <ul class="plan_list">
                    <li class="plan_list1">
                        <h1>Basic</h1>
                        <p>Perfect to get started</p>
                        <h1>$15<span>/month</span></h1>
                        <ul class="basic_list">
                            <li>1 Staff only</li>
                            <li>5 Products (5KU's)</li>
                            <li>Customer App</li>
                        </ul>
                        <a class="subcribe_cta">Subscribe</a>
                    </li>
                    <li class="plan_list2">
                        <h1>Essential</h1>
                        <p>Most Popular</p>
                        <h1 class="bill_1">$25<span>/month</span></h1>
                        <ul class="essential_list">
                            <li>3 Staff</li>
                            <li>100 Products (SKU'S)</li>
                            <li>Customer App</li>
                            <li>Generate PDF reports</li>
                            <li>Email reports</li>
                        </ul>
                        <a class="subcribe_cta2">Subscribe</a>
                    </li>
                    <li class="plan_list3">
                        <h1>Enterprise</h1>
                        <p>Big organizations go-bag</p>
                        <h1>Contact us</h1>
                        <ul class="basic_list">
                            <li>Unlimited Staff</li>
                            <li>Unlimited Products (SKU’S)</li>
                            <li>Customer App</li>
                            <li>Generate PDF reports</li>
                            <li>Email reports</li>
                        </ul>
                        <a class="subcribe_cta">Subscribe</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="container">
            <div class="contact_left_col">
                <h1>Subscribe To Our Newsletter</h1>
                <p>Be the first to know about our latest features, updates, & news!. Enter your email to subscribe.</p>

                <form action="">
                    <div class="input_container">
                        <input class="input_email" type="email" id="user_email" name="user_email" placeholder="Enter your email here">
                        <input class="input_button" type="submit" class="subscribe_cta" value="Subscribe">
                    </div>
                </form>
            </div>
            <div class="contact_right_col">
                <img src="../images/email_notification.svg" alt="email_img">
            </div>
        </div>
    </section>

    <section class="link_section">
        <div class="container">
            <div class="left">
                <img class="logo" src="../images/qwikcountr 1.svg" alt="logo">
                <p>A point of sales application that bridges the gap in the e-Commerce world. Shop with a smile, shop with QwikCountr.</p>
            </div>
            <div class="right">
                <div class="quick_links">
                    <div id="Q_linksbtn" class="quick_linksbtn">
                        <h4>Quick links</h4>
                        <img src="../images/plus_bullet.svg" alt="expand">
                    </div>
                    
                    <div class="Q_links">
                        <ul class="Q_links_list">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Contat us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="quick_links">
                    <div id="Q_linksbtn2" class="quick_linksbtn">
                        <h4>Company</h4>
                        <img src="../images/plus_bullet.svg" alt="expand">
                    </div>

                    <div class="Q_links2">
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Qwik features</a></li>
                            <li><a href="#">FAQ'S</a></li>
                        </ul>
                    </div>
                </div>
                <div class="quick_links">
                    <div id="Q_linksbtn3" class="quick_linksbtn">
                        <h4>Resources</h4>
                        <img src="../images/plus_bullet.svg" alt="expand">
                    </div>

                    <div class="Q_links3">
                        <ul>
                            <li><a href="#">Help center</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Customer support</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="container">
            <div class="footer_img">
                <a href="#"><img id="email_icon" src="../images/email_icon.svg" alt="email"> </a>
                <a href="#"><img id="linkedin_icon" src="../images/linkedin_icon.svg" alt="linkedin"> </a>
                <a href="#"><img id="x_icon" src="../images/x_icon.svg" alt="x"> </a>
                <a href="#"><img id="instagram_icon" src="../images/instagram_icon.svg" alt="instagram"> </a>
            </div>
            <p>2022 QwikCountr Limited. All Rights Reserved.</p>
        </div>
    </section>

    <script>
        const mobileBtn = document.getElementById('menu_button')
              nav = document.querySelector('nav')
              mobileBtnExit = document.getElementById('menu_exit')
              QlinksBtn = document.getElementById('Q_linksbtn')
              quicknav = document.querySelector('.Q_links')
              
              QlinksBtn2 = document.getElementById('Q_linksbtn2')
              quicknav2 = document.querySelector('.Q_links2')
              
              QlinksBtn3 = document.getElementById('Q_linksbtn3')
              quicknav3 = document.querySelector('.Q_links3');


              mobileBtn.addEventListener('click', () => {
                nav.classList.add('menu_btn');
              })

              mobileBtnExit.addEventListener('click', () => {
                nav.classList.remove('menu_btn');
              })

              QlinksBtn.addEventListener('click', () =>{
                quicknav.classList.toggle('quickdisplay');
              })

              QlinksBtn2.addEventListener('click', () =>{
                quicknav2.classList.toggle('quickdisplay');
              })

              QlinksBtn3.addEventListener('click', () =>{
                quicknav3.classList.toggle('quickdisplay');
              })
    </script>
</body>
</html>